<!DOCTYPE html>
<html>
  <head>
    <title>Viewtube</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property='og:image' content="<%= image_url('splash.png') %>">
    <%= favicon_link_tag asset_path('favicon.ico') %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script>
      window.logo = "<%= image_url('logo.png') %>";
      window.uploadIcon = "<%= image_url('upload_icon.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
